* {
  margin: 0%;
  padding: 0%;
  box-sizing: border-box;
}
body {
  font-family: "Lucida Sans", "Lucida Sans Regular", "Lucida Grande",
    "Lucida Sans Unicode", Geneva, Verdana, sans-serif;
}
a {
  text-decoration: none;
  color: #1a73e8;
  display: block;
  font-size: 14px;
}
.top-content {
  text-align: center;
}
img {
  width: 80px;
  margin: 10px 0;
}
h2 {
  font-size: 20px;
  font-weight: 100;
  margin-bottom: 10px;
}
.heading {
  margin-bottom: 30px;
}
.input {
  display: block;
  border: 1px solid rgb(228, 228, 228);
  font-size: 16px;
  width: 100%;
  padding: 0 15px;
  margin-bottom: 10px;
  z-index: 2 !important;
  background-color: transparent !important;
  outline: none;
  border-radius: 5px;
  position: relative !important;
  transition: border-color 0.3s;
}
.input:focus {
  border: 2px solid #1a73e8 !important;
  box-shadow: none !important;
}
input {
  height: 55px !important;
}
textarea {
  resize: none !important;
}
.inputs .group {
  position: relative;
}
.input-label {
  position: absolute;
  top: 15px;
  font-size: 1.1rem;
  left: 14px;
  color: rgb(122, 122, 122);
  font-weight: 100;
  transition: 0.1s ease;
  background-color: white;
  padding: 0 5px;
}
.fill-input-label {
  top: -7px;
  font-size: 13px;
  background-color: rgb(255, 255, 255);
  z-index: 2;
}
input[type="text"]:focus ~ .input-label {
  top: -7px;
  color: #1864c9;
  font-size: 13px;
  background-color: rgb(255, 255, 255);
  z-index: 2;
}
input[type="text"]:target ~ .input-label {
  top: -7px;
  color: #1864c9;
  font-size: 13px;
  background-color: rgb(255, 255, 255);
  z-index: 2;
}
input[type="password"]:focus ~ .input-label.password {
  top: -7px;
  color: #1864c9;
  font-size: 13px;
  background-color: rgb(255, 255, 255);
  z-index: 2;
}
input[type="password"]:target ~ .input-label.password {
  top: -7px;
  color: #1864c9;
  font-size: 13px;
  background-color: rgb(255, 255, 255);
  z-index: 2;
}
textarea:focus ~ .input-label {
  top: -7px;
  color: #1864c9;
  font-size: 13px;
  background-color: rgb(255, 255, 255);
  z-index: 2;
}
textarea:target ~ .input-label {
  top: -7px;
  color: #1864c9;
  font-size: 13px;
  background-color: rgb(255, 255, 255);
  z-index: 2;
}
.link-btn {
  margin-bottom: 2rem;
}
.color {
  color: rgb(90, 90, 90);
  font-size: 14px;
  margin-bottom: 5px;
}
.btn-group {
  display: flex;
  justify-content: space-between;
}
.create-btn {
  border: none;
  background-color: transparent;
  color: #1a73e8;
  font-weight: bold;
  cursor: pointer;
  height: 35px;
  padding: 10px 5px;
}
.input.is-invalid {
  border-color: #ff5252 !important;
}
.input.is-invalid:focus ~ .input-label {
  color: #ff5252 !important;
}
.input.is-invalid:target ~ .input-label {
  color: #ff5252 !important;
}
.input.is-valid {
  border-color: #4caf50 !important;
}
.input.is-valid:focus ~ .input-label {
  color: #4caf50 !important;
}
.input.is-valid:target ~ .input-label {
  color: #4caf50 !important;
}
